<div class="mb-3 row">
  <%= f.label column.symbolized_key, column.name, class: 'col-sm-2 col-form-label'  %>
  <div class="col-sm-10">
    <%= f.datetime_field column.symbolized_key, class: 'form-control', id: column.symbolized_key, required: column.not_null?, class_for_error: "is-invalid" %>
    <%= f.error_message column.symbolized_key, class: "invalid-feedback" %>
  </div>
</div>
