<div class="mb-3 row">
  <%= f.label column.symbolized_key, column.name, class: 'col-sm-2 col-form-label' %>
  <div class="col-sm-10">
    <%= f.select column.symbolized_key, column.render_options_for_select(f.object, filter: ->(q) { q.limit(10) }, view_context: self), { include_blank: !column.not_null? }, class: 'form-control', class_for_error: "is-invalid" %>
    <%= f.error_message column.symbolized_key, class: "invalid-feedback" %>
  </div>
</div>
