<% content_for :action_bar do %>
  <li class="action_bar-item">
    <%= link_to "Back to project", project_path(@project), class: "btn text-primary" %>
  </li>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="container">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
          <h1 class="h2">
            Editing <%= @project.name %>
          </h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <%= link_to "Back to projects", projects_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="container">
        <%= render "form", project: @project %>
      </div>
    </div>
  </div>
</div>
